<div>
  <span *ngIf="!esStatusLoading">
    <span class="mat-button-wrapper">ES status:</span>
    <button *ngIf="esStatus == 'OK'" mat-button mat-mini-fab color="accent">{{esStatus}}</button>
    <button *ngIf="esStatus == 'ERR'" mat-button mat-mini-fab color="warn">{{esStatus}}</button>
  </span>
  <span *ngIf="!apiStatusLoading">
    Api status:
    <button *ngIf="apiStatus == 'OK'" mat-button mat-mini-fab color="accent">{{apiStatus}}</button>
    <button *ngIf="apiStatus == 'ERR'" mat-button mat-mini-fab color="warn">{{apiStatus}}</button>
  </span>
</div>
