<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input />
  </mat-form-field>
  <mat-table
    [dataSource]="resources"
    class="mat-elevation-z8">

    <ng-container matColumnDef="CloudProvider">
      <th mat-header-cell *matHeaderCellDef>Cloud provider</th>
      <td mat-cell *matCellDef="let element">{{element._source.CloudProvider}}</td>
    </ng-container>
    <ng-container matColumnDef="ResourceType">
      <th mat-header-cell *matHeaderCellDef>Resource type</th>
      <td mat-cell *matCellDef="let element">{{element._source.ResourceType}}</td>
    </ng-container>
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element._source.Name}}</td>
    </ng-container>
    <ng-container matColumnDef="Region">
      <th mat-header-cell *matHeaderCellDef>Region</th>
      <td mat-cell *matCellDef="let element">{{element._source.Region}}</td>
    </ng-container>
    <ng-container matColumnDef="CreationDate">
      <th mat-header-cell *matHeaderCellDef>Creation date</th>
      <td mat-cell *matCellDef="let element">{{element._source.CreationDate | date:'medium'}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </mat-table>
  <mat-paginator [length]="total" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>
