<mat-drawer-container class="example-container" autosize>
  <mat-drawer #advancedSearch mode="side">
    <p>
      <mat-form-field appearance="outline">
        <input type="text"
               placeholder="Service"
               matInput
               [ngrxFormControlState]="(form$ | async).controls.service"
               [matAutocomplete]="services">
        <mat-autocomplete autoActiveFirstOption #services="matAutocomplete">
          <mat-option *ngFor="let option of distinctServices$ | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <input type="text"
               placeholder="Region"
               matInput
               [ngrxFormControlState]="(form$ | async).controls.region"
               [matAutocomplete]="regions">
        <mat-autocomplete autoActiveFirstOption #regions="matAutocomplete">
          <mat-option *ngFor="let option of distinctRegions$ | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <input type="text"
               placeholder="Project id"
               matInput
               [ngrxFormControlState]="(form$ | async).controls.projectId"
               [matAutocomplete]="projects">
        <mat-autocomplete autoActiveFirstOption #projects="matAutocomplete">
          <mat-option *ngFor="let option of distinctProjects$ | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>
  </mat-drawer>
  <button mat-button (click)="advancedSearch.toggle()">Show advancedSearch</button>
  <ng-content></ng-content>
</mat-drawer-container>
